:root{
  --background-color:#0D1227;
  --text-color:#FFFFFF;
  --background-sub:#223157;
  --background-sub-2:#434E6A;
  --rainbow-orange:#ff8036;
  --rainbow-orange-2:#fdb644;
  --rainbow-green:#e0f162;
  --rainbow-green-2:#5deb5d;
  --rainbow-blue:#6bf4e9;
  --rainbow-blue-2:#51b0e9;
  --rainbow-purple:#ec67ec;
  --font-size-small:17px;
}

html{
  background-color: var( --background-color );
  color:var(--text-color);
  font-family: 'Roboto',sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body{
margin:0;
}

.main-container{
  background-color: red;
}
